<div id="body">
  <div id="clock">
    <div>
      <span id="currentDateTime">{{currentDateTime | date: "dd.MM.YYYY HH:mm:ss"}}</span>
    </div>

    <div>
      <button id="start" (click)="start()">start</button>

      <span id="timer">{{timeInMilliseconds | date: "mm:ss:SSS"}}</span>

      <button id="end" (click)="end()">end</button>
    </div>

    <div>
      <input type="text" placeholder="name" [(ngModel)]="name">
    </div>
  </div>

  <div id="timeList">
    <h3 *ngIf="timerAndPersonList.length != 0">Stop time list</h3>

    <ol id="list">
      <li *ngFor="let timerAndPerson of timerAndPersonList; index as i" [class.latest]="i === latestIndex">

        {{timerAndPerson.timeInMilliseconds | date: "mm:ss:SSS"}}

        <span *ngIf="timerAndPerson !== timerAndPersonList[0]; else zeroDiff">
        ({{timerAndPerson.name}}, {{timerAndPerson.timeInMilliseconds | diffPipe: timerAndPersonList[0].timeInMilliseconds}})
      </span>

        <ng-template #zeroDiff>
          <span>({{timerAndPerson.name}})</span>
        </ng-template>

      </li>
    </ol>
  </div>
</div>
