<div id="flex">
  <form [formGroup]="animalLover" (ngSubmit)="onSubmit()">
    <label for="firstName">Vorname: </label>
    <input type="text" name="firstName" id="firstName" formControlName="firstName">

    <label for="lastName">Nachname: </label>
    <input type="text" name="lastName" id="lastName" formControlName="lastName">

    <label for="age">Alter: </label>
    <input type="number" name="age" id="age" formControlName="age">

    <div formGroupName="pet">
      <label for="name">Name des Haustieres: </label>
      <input type="text" name="name" id="name" formControlName="name">

      <label for="type">Art: </label>
      <select name="type" id="type" formControlName="type">
        <option value="dog">Hund</option>
        <option value="cat">Katze</option>
        <option value="fish">Fisch</option>
        <option value="hamster">Hamster</option>
      </select>

      <label for="petAge">Alter: </label>
      <input type="number" name="petAge" id="petAge" formControlName="age">
    </div>

    <button type="submit" [disabled]="animalLover.invalid">Bestätigen</button>
    <button type="button" (click)="load()">Laden</button>
  </form>

  <table>
    <thead>
    <tr>
      <th>ID</th>
      <th>Nachname</th>
      <th>Vorname</th>
      <th>Alter</th>
      <th>Haustier Name</th>
      <th>Haustier Alter</th>
      <th>Haustier Art</th>
    </tr>
    </thead>

    <tbody>
    <tr *ngFor="let animalLover of animalLovers">
      <td>{{animalLover.id}}</td>
      <td>{{animalLover.firstName}}</td>
      <td>{{animalLover.lastName}}</td>
      <td>{{animalLover.age}}</td>
      <td>{{animalLover.pet.name}}</td>
      <td>{{animalLover.pet.age}}</td>
      <td>{{animalLover.pet.type}}</td>
    </tr>
    </tbody>
  </table>
</div>
