<div id="center">

  <div *ngFor="let server of servers">
    <app-server-component [name]="server.name" [type]="server.type"></app-server-component>
  </div>

  <div id="row">
    <div id="nameDiv">
      <label>Name</label>
      <input class="elem" [(ngModel)]="name" type="text" name="name" id="name" placeholder="name">
    </div>

    <div id="typeDiv">
      <label>Type</label>
      <select class="elem" [(ngModel)]="type">
        <option>TRAINING</option>
        <option>EXAM</option>
      </select>
    </div>

    <button class="elem" (click)="addServerToServerList()">create</button>
  </div>

</div>
