<div id="center">
  <div *ngFor="let server of servers">
    <app-server-component [name]="server.name" [type]="server.type"></app-server-component>
  </div>

  <div id="row">
    <input class="elem" [(ngModel)]="name" type="text" name="name" id="name" placeholder="name">

    <select class="elem" [(ngModel)]="type">
      <option disabled>Choose a server</option>
      <option>Training</option>
      <option>Exam</option>
    </select>

    <button class="elem" (click)="func()">create</button>
  </div>

</div>
