#child {
  border: 2px solid black;
  border-radius: 5px;
  padding: 5px;
  margin: 5px ;
  max-width: max-content;
  text-align: center;
}

#head {
  margin: 1px;
}

.presents {
  min-height: 80px;

  display: flex;
  justify-content: center;
}
