<div id="child" >
  <h3 class="head">{{child.vorname}}</h3>
  <h3 class="head">{{child.nachname}}</h3>
  <hr>
  <div id="geburtsdatum">Geburtsdatum: {{child.geburtsdatum | date : "dd.MM.yyyy"}}</div>
  <div id="alter">Alter: {{getAge()}}</div>

  <div class="presents" [id]="'geschenk' + childId"
       cdkDropList
       cdkDropListOrientation="vertical"
       [cdkDropListData]="child.geschenke"
       [cdkDropListConnectedTo]="presentService.allPresentArrays"
       (cdkDropListDropped)="presentService.drop($event)">

    <div id="presents" *ngFor="let presentsOfChild of child.geschenke" cdkDrag>
      <app-present [inhalt]="presentsOfChild.inhalt" [farbe]="presentsOfChild.farbe" [groesse]="presentsOfChild.groesse"></app-present>
    </div>
  </div>
</div>
