#child {
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px;
  margin: 5px ;
  text-align: center;
}

.head {
  margin: 1px;
}

.presents {
  min-height: 100px;
  min-width: 100px;

  display: flex;
  flex-direction: column;

  background-color: #eeeeee;

  border-radius: 5px;
  margin: 15px 5px 5px 5px;
}

#geburtsdatum, #alter {
  font-size: 18px;
}
