<nav>
  <div class="group">
    <input type="text" name="inhalt" id="inhalt" placeholder="Inhalt" [(ngModel)]="inhalt">
  </div>

  <div class="group">
    <input type="color" name="farbe" id="farbe" placeholder="Farbe" [(ngModel)]="farbe">
  </div>

  <div class="group">
    <select [(ngModel)]="groesse">
      <option disabled>Größe</option>
      <option value="S">S</option>
      <option value="M">M</option>
      <option value="L">L</option>
    </select>
  </div>

  <div id="button">
    <button (click)="erstelleGeschenk(inhalt, farbe, groesse)">Erstelle Geschenk</button>
  </div>
</nav>
