<nav>
  <div id="menu">
    <div>
      <app-create-child></app-create-child>
      <br>
    </div>

    <div *ngFor="let child of childPresentService.children">
      <app-child [childId]="child.id"></app-child>
      <br>
    </div>
  </div>

  <div id="menu2">
    <div>
      <app-create-present></app-create-present>
    </div>

    <div id="availablePresents"
         cdkDropList
         [cdkDropListData]="presentService.presents"
         [cdkDropListConnectedTo]="presentService.allPresentArrays"
         (cdkDropListDropped)="presentService.drop($event)">

      <div *ngFor="let availablePresents of presentService.presents" cdkDrag>
        <app-present [whichList]="-1" [id]="availablePresents.id" [inhalt]="availablePresents.inhalt" [farbe]="availablePresents.farbe" [groesse]="availablePresents.groesse"></app-present>
      </div>
    </div>
  </div>
</nav>
