#present {
  border: 2px solid black;
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
  max-width: max-content;
  text-align: center;

  min-width: 80px;
  min-height: 80px;
}

#head {
  margin: 1px;
}

#groesse {
  font-size: 18px;
}
