.odd {
  color: red;
}

.last {
  color: greenyellow;
}

.flex {
  display: flex;
  justify-content: center;
  justify-items: center;
}

.flexReset {
  width: min-content;

  margin: auto;
}

#reset {
  background-color: red;

  margin: 5px;
}

ul {
  list-style: none;

  margin: auto;
  padding: 0;

  text-align: center;
}
