<div>

  <div class="example-container">
    <h2>Kinder</h2>

    <div *ngFor="let k of kinder; index as i">
      <h3>{{k.name}}</h3>

      <div class="g" [id]="'geschenk' + i" cdkDropList [cdkDropListData]="k.geschenke" [cdkDropListConnectedTo]="allListIds" (cdkDropListDropped)="drop($event)">
        <div *ngFor="let k of k.geschenke" cdkDrag>{{k}}</div>
      </div>
    </div>
  </div>

  <div class="example-container">
    <h2>Geschenke</h2>

    <div id="waehlbareGeschenke" cdkDropList [cdkDropListData]="geschenke" [cdkDropListConnectedTo]="allListIds" (cdkDropListDropped)="drop($event)">
      <div *ngFor="let g of geschenke" cdkDrag>{{g}}</div>
    </div>
  </div>

</div>
