.colored {
  border: 3px solid deeppink;
}

#flex {
  display: flex;
  flex-direction: row;

  margin: 5px;
  padding: 5px;

  background-color: #333333;
  color: white;
}

span {
  padding: 5px;
  font-size: 20px;
}

button {
  width: 100px;
  border-radius: 4px;

  height: 100%;

  font-size: 20px;
}

#remove {
  background-color: red;
}

#copy {
  background-color: yellow;
}

#flex1 {
  display: flex;
  flex-direction: column;
}

