.field {
  margin: 20px;
  padding: 10px;
}

label {
  display: inline-block;
  min-width: 200px;
  font-weight: bold;
}

.error {
  background-color: #FFC8C8;
  color: red;
  margin-top: 5px;
  padding: 15px;
  border-radius: 5px;
}
